/* Variables and basic styles that are shared by many components */

:root {
  --page-margin: clamp(1rem, 3.5vw, 2.6rem);
  --container-width: 1293px;
  --gray-1: #ebebeb;
  --gray-2: #c7c7c7;
  --gray-3: #b5b5b5;
  --gray-4: #909090;
  --gray-5: #7f7f7f;
  --gray-6: #595959;
  --gray-7: #2e2e2e;
}
html {
  font-size: 16px;
  font-family: sans-serif;
}
a {
  cursor: pointer;
}
h1 {
  font-size: 4rem;
  line-height: 1;
  margin: 0 0 1.75rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
  margin: 0 0 0.5rem;
}
h4 {
  font-size: 1.75rem;
}
p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.03rem;
  margin: 0 0 1.5rem;
}
